[submodule "Core/Lib/fmt"]
	path = Core/Lib/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "Core/Lib/armadillo-code"]
	path = Core/Lib/armadillo-code
	url = https://gitlab.com/conradsnicta/armadillo-code.git
[submodule "Core/Tests/Lib/Catch2"]
	path = Core/Tests/Lib/Catch2
	url = git@github.com:catchorg/Catch2.git
